# Build & gen
.cache/
build/
*.a
*.o
*.out
{%- if build_system == 'premake' %}
Makefile
*.make
{%- endif %}
{%- if use_clangd %}
CMakeLists.txt
compile_commands.json
{%- endif %}

# trash
*.bar
._* 
*.log
vgcore.*
temp/

# not mine
docs/42

