build *args:
{%- if build_system == 'meson' %}
    meson compile -C builddir {% raw %}{{args}}{% endraw %}
{%- elif build_system == 'premake' %}
    premake5 gmake
    make {% raw %}{{args}}{% endraw %}
{%- else %}
    make {% raw %}{{args}}{% endraw %}
{%- endif %}
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/
{% if build_system == 'meson' %}
setup:
    meson setup builddir

reconfigure:
    meson setup --reconfigure builddir
{% endif %}
turnin-sync:
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/
