build *args:
{%- if use_meson %}
    meson compile -C builddir {% raw %}{{args}}{% endraw %}
{%- elif use_premake %}
    premake5 gmake
    make {% raw %}{{args}}{% endraw %}
{%- else %}
    make {% raw %}{{args}}{% endraw %}
{%- endif %}
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/
{% if use_meson %}
setup:
    meson setup builddir

reconfigure:
    meson setup --reconfigure builddir
{% endif %}
turnin-sync:
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/
