build *args:
{%- if use_premake %}
    premake5 gmake
{%- endif %}
    make {% raw %}{{args}}{% endraw %}
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/

turnin-sync:
    rsync -av --include-from='.turnin-include' --exclude='*' . turnin/
