_This project has been created as part of the 42 curriculum by lrain_

# {{project_name}}
## Description
*to write*

## Instructions
### Building

{%- if build_system == 'premake' %}
If cloned from my GitHub,
this project has premake as an optional dependency,
which will generate makefiles automatically.

Once installed,
run
```bash
    git clone https://github.com/codingvivi/{{project_name}}
    cd {{project_name}}/
    git submodule update --init --recursive
    premake5 gmake # to generate make file
    premake5 ecc # optionally to generate record of compile flags for linting
```

Once generated with premake,
the compile options are:
```

```

- **Configurations**:
    - *to write*
- **Platforms**:
    - `Dev`: Configured for my machine, which is ARM64 linux.
    - `42`: Configured for the 42 school environment, targeting x86_64 architecture on Linux.

- **Projects**:
    - `{{project_name}}`

With no arguments supplied,
running `make` will build library and runner
in the release_dev configuration.

{%- endif %}

## Resources
### References
